.saa {
    margin: 0;
    background: url("img/1o.png") center no-repeat;
}

.page {
    width: 719px;
    margin: auto;
}
.head{
  margin: auto;
}

/* Nav */

.nav{
    margin-top: -4px;
    font-size: auto;
    line-height: 1.5;
    text-align: center;
    color: #121212;
    padding: 5px;

    background-color: #a2a2a2;
}

.nav-button{
  font-family: Arial;
  font-size: 17px;
  display: inline-block;
	vertical-align: top;
	margin: 0px 3px;
	justify-content: center;
	text-decoration: none;
	color: #fff;
	border: 0px solid #1a1919;
	background-color: #302f2f;
  border-radius: 5px;
	padding: 9px;
	padding-left: 73px;
	padding-right: 72px;

}

.nav-button:hover {
    color: #fce38a;
    background-color: #222222;
}

/* Content */

main {
    padding: 10px;

    background-color: #fff;
}

.content {
    width: 95%;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 0;

    border-radius: 10px;
    background-color: #eee;
}

.header-title {
    width: 75%;
    margin: 0 auto 50px;
    padding: 10px;

    font-size: 16px;
    text-align: center;
    text-justify: auto;
    border-radius: 10px;
    background-color: #d8cece;
}

.header-title p {
    margin: 0;
}
.menu {
    margin-bottom: 50px;
}

.menu-button {
   line-height: 7px;
    margin: 1px 40px;
    display: block;
    padding: 8px;
    padding-right: 5px;
    width: 70%;
    padding-left: 25px;

    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;

    border: solid 2px #3e3d3d;
    border-radius: 10px;
    background-color: #b7b7b7;
}

.menu-button:hover {
    color: #fce38a;
    background-color: #969696;
}

.menu-button1 {
    margin: 1px 40px;
    display: block;
    padding: 8px;
    padding-right: 0px;
    width: 70%;
    padding-left: 30px;

    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: bold;

    border: solid 2px #3e3d3d;
    border-radius: 10px;
    background-color: #b7b7b7;
}

.menu-button1:hover {
    color: #fce38a;
    background-color: #969696;
}


@media (max-width: 800px) {
    .page {
    width: 120%;
}
}

/*popup #1*/
.header{
  margin: auto;
  width: 516px;
  position: absolute;
  top: 612px;
  left: 0px;
  right: 0;

}
.navi{
  font-size: 20px;
}
.header__popup{
    background-color: #b8b8b8;
  z-index: 0;
  display: block;
  border: 2px solid #3e3d3d;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color 0.2s liner;
  padding-left: 70px;
  padding-right: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;

}
.header__popup:hover {
  color: #fce38a;
}
.osago{
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
overflow-y: auto;
overflow-x: hidden;
transition: all 0.8s ease 0s;
}
.osago:target{
  opacity: 1;
  visibility: visible;
}
.osago:target .popup__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__area{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body{
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 30px 10px;
transition: all 0.8s ease 0s;
}
.popup__content{
  background-color: #fff6ae;
  color: #000;
  max-width: 700px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);

}
.popup__close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
  color: #000;
  text-decoration: none;

}
.popup__title{
font-size: 40px;
margin: 0px 0px 1em 0px;
}
.popup__text{

}

/*popup #2*/

.header__popup__two{
    background-color: #b8b8b8;
  font-size: 20px;
  margin: auto;
  width: 516px;
  position: absolute;
  left: 0px;
  right: 0;
  top: 657px;
  z-index: 0;
  display: block;
  border: 2px solid #3e3d3d;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color 0.2s liner;
  padding-left: 70px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  padding-right: 102px;
}
.header__popup__two:hover {
  color: #fce38a;
}
.to{
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
overflow-y: auto;
overflow-x: hidden;
transition: all 0.8s ease 0s;
}
.to:target{
  opacity: 1;
  visibility: visible;
}
.to:target .popup__two__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__two__area{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__two__body{
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 30px 10px;
transition: all 0.8s ease 0s;
}
.popup__two__content{
  background-color: #fff6ae;
  color: #000;
  max-width: 700px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);

}
.popup__two__close{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 18px;
  color: #000;
  text-decoration: none;
}
.popup__two__close:hover{
  color: red;

}

.popup__two__title{
font-size: 40px;
margin: 0px 0px 1em 0px;
}
.popup__two__text{
}

.tex{
 text-decoration: none;
 border: 0px solid #fff;
 border-radius: 4px;
 background-color: #9bc246;
 padding-top: 5px;
 padding-bottom: 5px;
 padding-left: 10px;
 padding-right: 10px;
 font-size: 18px;
 font-weight: lighter;
 color: #fff;
 transition: color 0.2s liner;
}

.tex:hover {
  color: #f3ed4b;
}


.dd{
  font-weight: bold;
}

/*popup #3*/

.header__popup__three{
    background-color: #b8b8b8;
  font-size: 20px;
  margin: auto;
  width: 516px;
  position: absolute;
  left: 0px;
  right: 0;
  top: 702px;
  z-index: 0;
  display: block;
  border: 2px solid #3e3d3d;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color 0.2s liner;
  padding-left: 70px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  padding-right: 102px;
}
.header__popup__three:hover {
  color: #fce38a;
}
.zak{
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
overflow-y: auto;
overflow-x: hidden;
transition: all 0.8s ease 0s;
}
.zak:target{
  opacity: 1;
  visibility: visible;
}
.zak:target .popup__three__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__three__area{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__three__body{
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 30px 10px;
transition: all 0.8s ease 0s;
}
.popup__three__content{
  background-color: #fff6ae;
  color: #000;
  max-width: 700px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);

}
.popup__three__close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  color: #000;
  text-decoration: none;

}

.popup__three__close:hover{
  color: red;
}

.popup__three__title{
font-size: 40px;
margin: 0px 0px 1em 0px;
}
.popup__three__text{
}

.kom{
  text-decoration: none;
  border: 2px solid #000;
  color: #fff;
  border-radius:3px;
  background-color: #5c5c5c;
  padding:3px;
}

.kom:hover{
  color: #f3ed4b;
}
/*popup #4*/

.header__popup__four{
    background-color: #b8b8b8;
  font-size: 20px;
  margin: auto;
  width: 516px;
  position: absolute;
  left: 0px;
  right: 0;
  top: 747px;
  z-index: 0;
  display: block;
  border: 2px solid #3e3d3d;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color 0.2s liner;
  padding-left: 70px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  padding-right: 80px;
}
.header__popup__four:hover {
  color: #fce38a;
}
.popup__four{
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
overflow-y: auto;
overflow-x: hidden;
transition: all 0.8s ease 0s;
}
.popup__four:target{
  opacity: 1;
  visibility: visible;
}
.popup__four:target .popup__four__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__four__area{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__four__body{
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 30px 10px;
transition: all 0.8s ease 0s;
}
.popup__four__content{
  background-color: #fff6ae;
  color: #000;
  max-width: 700px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);

}
.popup__four__close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 15px;
  color: #000;
  text-decoration: none;

}
.popup__four__title{
font-size: 40px;
margin: 0px 0px 1em 0px;
}
.popup__four__text{
}

/*popup #5*/

.header__popup__five{
    background-color: #b8b8b8;
  font-size: 20px;
  margin: auto;
  width: 516px;
  position: absolute;
  left: 0px;
  right: 0;
  top: 792px;
  z-index: 0;
  display: block;
  border: 2px solid #3e3d3d;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color 0.2s liner;
  padding-left: 70px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  padding-right: 80px;
}
.header__popup__five:hover {
  color: #fce38a;
}
.popup__five{
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
overflow-y: auto;
overflow-x: hidden;
transition: all 0.8s ease 0s;
}
.popup__five:target{
  opacity: 1;
  visibility: visible;
}
.popup__five:target .popup__five__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__five__area{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__five__body{
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 0px;
transition: all 0.8s ease 0s;
}
.popup__five__content{
  background-color: #fff;
  color: #000;
  max-width: 700px;
  padding: 0px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);

}
.popup__five__close{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
  color: #000;
  text-decoration: none;

}
.popup__five__close:hover{
  color: red;
}
.popup__five__title{
font-size: 40px;
margin: 0px 0px 0px 0px;
}
.popup__five__text{
}
.yurist{
  display: block;
  margin: auto;
}

/*popup #6*/

.header__popup__six{
    background-color: #b8b8b8;
  font-size: 20px;
  margin: auto;
  width: 516px;
  position: absolute;
  left: 0px;
  right: 0;
  top: 837px;
  z-index: 0;
  display: block;
  border: 2px solid #3e3d3d;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color 0.2s liner;
  padding-left: 70px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  padding-right: 80px;
}
.header__popup__six:hover {
  color: #fce38a;
}
.axp{
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
overflow-y: auto;
overflow-x: hidden;
transition: all 0.8s ease 0s;
}
.axp:target{
  opacity: 1;
  visibility: visible;
}
.axp:target .popup__six__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__six__area{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__six__body{
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 30px 10px;
transition: all 0.8s ease 0s;
}
.popup__six__content{
  background-color: #fff6ae;
  color: #000;
  max-width: 700px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);

}
.popup__six__close{
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 18px;
  color: #000;
  text-decoration: none;

}

.popup__six__close:hover{
color: red;
}


.popup__six__title{
font-size: 40px;
margin: 0px 0px 1em 0px;
}
.popup__six__text{
}

.ss{
  font-weight: bold;
  font-size: 18px;
}

.aks{
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  border: 0px solid #fff;
  background-color: #9bc246;
}

.aks:hover{
  color: #f3ed4b;
}

/*popup #7*/

.header__popup__seven{
    background-color: #b8b8b8;
  font-size: 20px;
  margin: auto;
  width: 516px;
  position: absolute;
  left: 0px;
  right: 0;
  top: 882px;
  z-index: 0;
  display: block;
  border: 2px solid #3e3d3d;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color 0.2s liner;
  padding-left: 70px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
  padding-right: 80px;

}
.header__popup__seven:hover {
  color: #fce38a;
}
.popup__seven{
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
overflow-y: auto;
overflow-x: hidden;
transition: all 0.8s ease 0s;
}
.popup__seven:target{
  opacity: 1;
  visibility: visible;
}
.popup__seven:target .popup__seven__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__seven__area{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__seven__body{
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 30px 10px;
transition: all 0.8s ease 0s;
}
.popup__seven__content{
  background-color: #fff6ae;
  color: #000;
  max-width: 700px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);

}
.popup__seven__close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  color: #000;
  text-decoration: none;

}
.popup__seven__close:hover{
  color:red;
}
.popup__seven__title{
font-size: 40px;
margin: 0px 0px 1em 0px;
}
.popup__seven__text{
}

.knop{
  text-decoration: none;
  color: #fff;
  border: 0px solid #000;
  background-color: #9bc246;
  padding: 5px;
  border-radius: 4px;
  font-size: 18px;
}
.knop:hover{
  color: #f3ed4b;
}
/*popup #8*/

.header__popup__eight{
  margin: auto;
  background-color: #b8b8b8;
  z-index: 0;
  font-size: 20px;
  width: 516px;
  position: absolute;
  top: 927px;
  left: 0px;
  right: 0;
  display: block;
  border: 2px solid #3e3d3d;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color 0.2s liner;
  padding-left: 70px;
  padding-right: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;

}
.header__popup__eight:hover {
  color: #fce38a;
}
.popup__eight{
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
overflow-y: auto;
overflow-x: hidden;
transition: all 0.8s ease 0s;
}
.popup__eight:target{
  opacity: 1;
  visibility: visible;
}
.popup__eight:target .popup__eight__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__eight__area{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__eight__body{
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 30px 10px;
transition: all 0.8s ease 0s;
}
.popup__eight__content{
  border-radius: 10px;
  background-color: #e4e4e4;
  color: #000;
  max-width: 700px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);

}
.popup__eight__close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: #000;
  text-decoration: none;

}
.popup__eight__close:hover{
  color: red;
}
.popup__eight__title{
  color: #575757;
font-size: 40px;
margin: 0px 0px 10px 0px;
}
.popup__eight__text{
  font-size: 18px;
}
.ds{
  font-weight: bold;
  border: 0px solid #000;
  padding: 7px;
  background-color: #fff;
  border-radius: 10px;
}

.razv{
  display: block;
  margin: auto;
}

.rec {
    margin-bottom: 5px;
}

.reklam1 {
   line-height: 10px;
    margin: 4px 4px;
    display: block;
    padding: 8px;
    padding-right: 5px;
    width: 50%;
    padding-left: 25px;

    font-weight: 600;
    color:#212121;
    text-decoration: none;
    font-size:18px;
    border: 2px solid #3b3b3b;
}

.reklam1:hover{
  color: #fff;
}

/*popup #9*/

.header__popup__nine{
  background-color: #b8b8b8;
  margin: auto;
  z-index: 0;
  font-size: 20px;
  width: 516px;
  position: absolute;
  top: 972px;
  left: 0px;
  right: 0;
  display: block;
  border: 2px solid #3e3d3d;
  text-decoration: none;
  font-weight: bold;
  color: #000;
  transition: color 0.2s liner;
  padding-left: 70px;
  padding-right: 0px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;

}
.header__popup__nine:hover {
  color: #fce38a;
}
.popup__nine{
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
overflow-y: auto;
overflow-x: hidden;
transition: all 0.8s ease 0s;
}
.popup__nine:target{
  opacity: 1;
  visibility: visible;
}
.popup__nine:target .popup__nine__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__nine__area{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__nine__body{
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 30px 10px;
transition: all 0.8s ease 0s;
}
.popup__nine__content{
  background-color: #fff6ae;
  color: #000;
  max-width: 700px;
  padding: 30px;
  border-radius: 20px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);

}
.popup__nine__close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  color: #000;
  text-decoration: none;

}
.popup__nine__close:hover{
  color: red;
}
.popup__nine__title{
font-size: 40px;
margin: 0px 0px 1em 0px;
}
.popup__nine__text{
}

.por{
  font-weight: bold;
  color: #000;
  font-size: 18px;
}
.por:hover{
  color: red;
}

.vod{
  float: right;

}

.popup__10{
position: fixed;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.8);
top: 0;
left: 0;
opacity: 0;
visibility: hidden;
overflow-y: auto;
overflow-x: hidden;
transition: all 0.8s ease 0s;
}
.popup__10:target{
  opacity: 1;
  visibility: visible;
}
.popup__10:target .popup__10__content {
  transform: translate(0px, 0px);
  opacity: 1;
}

.popup__10__area{
  position:absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__10__body{
min-height: 100%;
display: flex;
align-items: center;
justify-content: center;
padding: 30px 10px;
transition: all 0.8s ease 0s;
}
.popup__10__content{
  background-color: #fff6ae;
  color: #000;
  max-width: 800px;
  padding: 30px;
  position: relative;
  transition: all 0.8s ease 0s;
  opacity: 0;
  transform: translate(0px, -100%);

}
.popup__10__close{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 18px;
  color: #000;
  text-decoration: none;

}
.popup__10__close:hover{
  color: red;
}
.popup__10__title{
font-size: 40px;
margin: 0px 0px 1em 0px;
}
.popup__10__text{
}


.form{
  border: 0px solid #fff;
  border-radius: 10px;
  background-color: #c4c4c4;
  position: absolute;
  max-width: 550px;
  margin: 0px auto;
  color: #000;
  padding: 30px;

}
.form__body{

}
.form__title{
  font-size: 10px;
  font-weight: 700;
  margin: 0px 0px 30px 0px;
}
.form__item{
  margin: 0px 0px 20px 0px;
}
.form__lable{
  font-size: 18px;
  display: block;
  margin: 0px 0px 10px 0px;
}
.form__input {
  height: 22px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 100%;
}
.form__input._error{
  box-shadow: 0 0 10px red;
}
.file{

}
.file__item{
  position: relative;
}
.file__input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity:0;
  font-size: 0;
  cursor: pointer;
}
.file__button{
  color: #fff;
  display: inline-flex;
  min-height: 40px;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  background-color: #77608d;
  padding: 0px 20px;
}

.file__preview{
  display: inline-block;
  max-width: 100px;
  padding: 10px 0px 0px 0px;
}
.file__preview img{
  max-width: 100%;
}

.form__button{

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  background-color: #86d56e;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  border-radius: 20px;
  transition: background-color 0.5s ease 0s;
}
.form__button:hover{
  background-color: #4f6146;
}
.form__button:active{
  top: 3px;
  box-shadow: 0 2px 0 #161b13;
}

/*анимация*/
@keyframes phone-rotate {
0% {
  transform: rotate(0);
}
100%{
  transform: rotate(20deg);
}
}

.btn-phone{
  position: relative;
}

.btn-phone {
  left: 245px;
  top:90px;
  position: absolute;
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
  border: 2px solid #000;
  border-radius: 50px;

  background:
  url("cfl.png") center
  no-repeat;
  -webkit-background-size: cover;
  background-size: cover;

animation: phone-rotate .5s infinite alternate linear;

border: 2px solid #000;

}
.fix{

}
.form2{
  bottom:885px;
  position: absolute;
  display: block;
  margin: auto;
  left: 15px;
  height: 203px;
  width: 220px;
  border: 0px solid #fff;
  border-radius: 0px;
  background-color: #f3f3f3;
  color: #000;
  padding: 10px;
  padding-right: 40px;
  border-radius: 15px;

}

.form2__body{

}
.yy{
  font-weight: 600;
  font-size: 20px;
  text-transform: uppercase;
  color: #008000;
}

.form2__item{
  margin: 0px 0px 5px 0px;
}
.form2__lable{
  font-size: 18px;
  display: block;
  margin: 0px 0px 0px 0px;
}
.form2__input {
  height: 22px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 95%;
}
.form2__input._error{
  box-shadow: 0 0 10px red;
}
.form2__button{
  justify-content: center;
  min-height: 10px;
  background-color: #008000;
  color: #fff;
  font-size: 16px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
}
.form2__button:hover{
  background-color: #4f6146;
}

.fix{
  position: absolute;
  display: block;
  margin: 0;
}

.form3{
  left: 10px;
  height: 203px;
  width: 220px;
  bottom: 347px;
  border: 0px solid #fff;
  border-radius: 0px;
  background-color: #f3f3f3;
  position: absolute;
  max-width: 550px;
  margin: 0px auto;
  color: #000;
  padding: 10px;
  padding-right: 40px;
  border-radius: 15px;

}

.form3__item{
  margin: 0px 0px 5px 0px;
}
.form3__lable{
  font-size: 18px;
  display: block;
  margin: 0px 0px 0px 0px;
}
.form3__input {
  height: 22px;
  padding: 0px 20px;
  border-radius: 5px;
  width: 90%;
}
.form3__input._error{
  box-shadow: 0 0 10px red;
}
.form3__button{
  justify-content: center;
  min-height: 10px;
  background-color: #008000;
  color: #fff;
  font-size: 16px;
  padding: 3px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
}
.form3__button:hover{
  background-color: #4f6146;
}

/*transport*/

.reg{
  background-color: #d0d0d0;
  padding: 10px;
}

.glav{
  text-align: center;
  justify-content: center;
  display: block;
  width: 50%;
  border: 2px solid #000;
  padding: 10px;
  margin: auto;
  color: #000;
  text-decoration: none;
  font-size: 21px;
}
.glav:hover{
  color: red;
}

.cc{
  font-size: 30px;
}

.aa{
  font-size: 25px;
}
.qq{
  font-size: 25px;
  margin-top: 460px;

}
.razv2{

  padding: 1px solid #fff;
  background-color: #e2e2e2;
  padding: 25px;
  padding-bottom: 50px;
  padding-left: 350px;
  padding-right: 350px;
border-radius: 10px;
}

.mash{
  position: absolute;
  display: block;
  margin-left: 300px;
}
.mash2{
  margin-top: 570px;
  position: absolute;
  display: block;
  margin-left: 300px;
}

.mash3{
  margin-top: 940px;
  position: absolute;
  display: block;
  margin-left: 360px;
}
.mash4{
  margin-top: 570px;
  position: absolute;
  display: block;
  margin-left: 400px;
}
.mash5{
  margin-top: 885px;
  position: absolute;
  display: block;
  margin-left: 385px;
}
.mash6{
  margin-top: 30px;
  position: absolute;
  display: block;
  margin-left: 300px;
}
.nomer{
width: 1335px;
  position: absolute;
    margin-top: 1540px;

}
.nomer1{
width: 1335px;
  position: absolute;
    margin-top: 70px;

}
.nomer2{
width: 1335px;
  position: absolute;
    margin-top: 450px;

}
.nomer3{
width: 1335px;
  position: absolute;
    margin-top: 1440px;

}
.nomer4{
width: 1335px;
  position: absolute;
    margin-top: 80px;

}
.rekl1{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 155px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 1980px;
  left: 750px;
}
.rekl1:hover{
  color:  #fff6ae;
}
.rekl2{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 102px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 2007px;
  left: 750px;
}
.rekl2:hover{
  color:  #fff6ae;
}
.rekl3{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 68px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 2034px;
  left: 750px;
}
.rekl3:hover{
  color:  #fff6ae;
}
.rekl4{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 197px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 2061px;
  left: 750px;
}
.rekl4:hover{
  color:  #fff6ae;
}
.rekl5{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 178px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 2088px;
  left: 750px;
}
.rekl5:hover{
  color:  #fff6ae;
}

.rekl10{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 155px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 4100px;
  left: 750px;
}
.rekl10:hover{
  color:  #fff6ae;
}
.rekl20{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 102px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 4127px;
  left: 750px;
}
.rekl20:hover{
  color:  #fff6ae;
}
.rekl30{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 121px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 4154px;
  left: 750px;
}
.rekl30:hover{
  color:  #fff6ae;
}
.rekl40{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 197px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 4181px;
  left: 750px;
}
.rekl40:hover{
  color:  #fff6ae;
}
.rekl50{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 178px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 4208px;
  left: 750px;
}
.rekl50:hover{
  color:  #fff6ae;
}
.rekl11{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 155px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 1420px;
  left: 750px;
}
.rekl11:hover{
  color:  #fff6ae;
}
.rekl21{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 102px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 1447px;
  left: 750px;
}
.rekl21:hover{
  color:  #fff6ae;
}
.rekl31{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 68px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 1474px;
  left: 750px;
}
.rekl31:hover{
  color:  #fff6ae;
}
.rekl41{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 197px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 1501px;
  left: 750px;
}
.rekl41:hover{
  color:  #fff6ae;
}
.rekl51{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 121px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 1528px;
  left: 750px;
}
.rekl51:hover{
  color:  #fff6ae;
}
.rekl12{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 155px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 1800px;
  left: 750px;
}
.rekl12:hover{
  color:  #fff6ae;
}
.rekl22{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 102px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 1827px;
  left: 750px;
}
.rekl22:hover{
  color:  #fff6ae;
}
.rekl32{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 121px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 1854px;
  left: 750px;
}
.rekl32:hover{
  color:  #fff6ae;
}
.rekl42{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 62px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 1881px;
  left: 750px;
}
.rekl42:hover{
  color:  #fff6ae;
}
.rekl52{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 178px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 1908px;
  left: 750px;
}
.rekl52:hover{
  color:  #fff6ae;
}

.rekl13{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 155px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 3030px;
  left: 750px;
}
.rekl13:hover{
  color:  #fff6ae;
}
.rekl23{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 197px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 3057px;
  left: 750px;
}
.rekl23:hover{
  color:  #fff6ae;
}
.rekl33{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 121px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 3084px;
  left: 750px;
}
.rekl33:hover{
  color:  #fff6ae;
}
.rekl43{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 62px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 3111px;
  left: 750px;
}
.rekl43:hover{
  color:  #fff6ae;
}
.rekl53{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 178px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 3138px;
  left: 750px;
}
.rekl53:hover{
  color:  #fff6ae;
}

.rekl14{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 102px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 7460px;
  left: 750px;
}
.rekl14:hover{
  color:  #fff6ae;
}
.rekl24{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 197px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 7487px;
  left: 750px;
}
.rekl24:hover{
  color:  #fff6ae;
}
.rekl34{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 121px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 7514px;
  left: 750px;
}
.rekl34:hover{
  color:  #fff6ae;
}
.rekl44{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 62px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 7541px;
  left: 750px;
}
.rekl44:hover{
  color:  #fff6ae;
}
.rekl54{
  position: absolute;
  max-width: 370px;
  font-weight: 600;
  padding: 2px;
  padding-right: 178px;
  color:#fff;
  text-decoration: none;
  font-size:18px;
  border: 2px solid #fff;
  top: 7568px;
  left: 750px;
}
.rekl54:hover{
  color:  #fff6ae;
}
